@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .clippy {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  }
}

@layer utilities {
  .padding {
    @apply max-xl:px-8 px-16 max-xl:py-16 p-20;
  }

  .padding-x {
    @apply max-xl:px-8 px-16;
  }

  .padding-y {
    @apply max-xl:py-16 py-20;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .text-desc {
    @apply font-sourceSans text-textColor
  }
}
